---
title: STATS 3DA3
subtitle: Homework Assignment 4
author: "Hao Wu (400413785); Lexuan Li(400408535)"
date: 03/16/2025
format: pdf
header-includes:
   - \usepackage{amsmath}
   - \usepackage{bbm}
   - \usepackage{array}
   - \usepackage{multirow}
   - \usepackage{graphicx}
   - \usepackage{float}
   - \usepackage{apacite}
   - \usepackage{natbib}
execute: 
  echo: true
fontsize: 11pt
geometry: margin = 1in
linestretch: 1.5
---

In [9]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split,GridSearchCV

import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import silhouette_samples, silhouette_score
from sklearn.metrics.cluster import rand_score, adjusted_rand_score
import matplotlib.cm as cm
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score, roc_auc_score, roc_curve, confusion_matrix
from sklearn.feature_selection import SelectKBest, mutual_info_classif

from sklearn.ensemble import GradientBoostingClassifier

In [10]:
# 1.
url = "https://raw.githubusercontent.com/PratheepaJ/datasets/refs/heads/master/ass6-dataset.csv"
data = pd.read_csv(url)

print("Dataset shape:", df.shape)
print("Columns:", df.columns.tolist())
data.head()

Dataset shape: (303, 21)
Columns: ['age', 'trestbps', 'chol', 'thalach', 'oldpeak', 'num', 'sex_1', 'cp_2', 'cp_3', 'cp_4', 'fbs_1', 'restecg_1', 'restecg_2', 'exang_1', 'slope_2', 'slope_3', 'thal_6.0', 'thal_7.0', 'ca_1.0', 'ca_2.0', 'ca_3.0']

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63,1,1,145,233,1,2,150,0,2.3,3,0.0,6.0,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3.0,3.0,2
2,67,1,4,120,229,0,2,129,1,2.6,2,2.0,7.0,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0.0,3.0,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0.0,3.0,0

In [11]:
print(data.describe())

              age         sex          cp    trestbps        chol         fbs  \
count  303.000000  303.000000  303.000000  303.000000  303.000000  303.000000
mean    54.438944    0.679868    3.158416  131.689769  246.693069    0.148515
std      9.038662    0.467299    0.960126   17.599748   51.776918    0.356198
min     29.000000    0.000000    1.000000   94.000000  126.000000    0.000000
25%     48.000000    0.000000    3.000000  120.000000  211.000000    0.000000
50%     56.000000    1.000000    3.000000  130.000000  241.000000    0.000000
75%     61.000000    1.000000    4.000000  140.000000  275.000000    0.000000
max     77.000000    1.000000    4.000000  200.000000  564.000000    1.000000

          restecg     thalach       exang     oldpeak       slope          ca  \
count  303.000000  303.000000  303.000000  303.000000  303.000000  299.000000
mean     0.990099  149.607261    0.326733    1.039604    1.600660    0.672241
std      0.994971   22.875003    0.469794    1.161075    0.616226    0.937438
min      0.000000   71.000000    0.000000    0.000000    1.000000    0.000000
25%      0.000000  133.500000    0.000000    0.000000    1.000000    0.000000
50%      1.000000  153.000000    0.000000    0.800000    2.000000    0.000000
75%      2.000000  166.000000    1.000000    1.600000    2.000000    1.000000
max      2.000000  202.000000    1.000000    6.200000    3.000000    3.000000

             thal         num
count  301.000000  303.000000
mean     4.734219    0.937294
std      1.939706    1.228536
min      3.000000    0.000000
25%      3.000000    0.000000
50%      3.000000    0.000000
75%      7.000000    2.000000
max      7.000000    4.000000

In [12]:
# 2.
numerical_cols = ['age', 'trestbps', 'chol', 'thalach', 'oldpeak']
scaler = StandardScaler()

# data_removed[numerical_cols] = scaler.fit_transform(data_removed[numerical_cols])
data[numerical_cols] = scaler.fit_transform(data[numerical_cols])
categorical_cols = ['sex','cp', 'fbs', 'restecg', 'exang','slope', 'thal','ca']

# df = pd.get_dummies(data_removed, columns = categorical_cols, drop_first=True)
df = pd.get_dummies(data, columns = categorical_cols, drop_first=True)
df = df.astype({col: 'int' for col in df.select_dtypes(include='bool').columns})
print(df.head())

        age  trestbps      chol   thalach   oldpeak  num  sex_1  cp_2  cp_3  \
0  0.948726  0.757525 -0.264900  0.017197  1.087338    0      1     0     0
1  1.392002  1.611220  0.760415 -1.821905  0.397182    2      1     0     0
2  1.392002 -0.665300 -0.342283 -0.902354  1.346147    1      1     0     0
3 -1.932564 -0.096170  0.063974  1.637359  2.122573    0      1     0     1
4 -1.489288 -0.096170 -0.825922  0.980537  0.310912    0      0     1     0

   cp_4  ...  restecg_1  restecg_2  exang_1  slope_2  slope_3  thal_6.0  \
0     0  ...          0          1        0        0        1         1
1     1  ...          0          1        1        1        0         0
2     1  ...          0          1        1        1        0         0
3     0  ...          0          0        0        0        1         0
4     0  ...          0          1        0        0        0         0

   thal_7.0  ca_1.0  ca_2.0  ca_3.0
0         0       0       0       0
1         0       0       0       1
2         1       0       1       0
3         0       0       0       0
4         0       0       0       0

[5 rows x 21 columns]